In [54]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from pyecharts import HeatMap
df = pd.read_csv('./data/HE_2013_M25_59_1_10.csv', delimiter=';', parse_dates=['date_time'])  # 59条链路，1-10月原始数据
df = df.drop(['Local_Date', 'Local_Time', 'Day_Type_ID'], axis=1)  # 删除部分无关字段
df.columns = ['link_ID', 'date', 'length', 'flow', 'travel_time', 'speed', 'q', 'travel_time_log']  # 重命名
print df.count()
df.head()

link_ID            1721856
date               1721856
length             1624946
flow               1624944
travel_time        1624946
speed              1624946
q                  1624946
travel_time_log    1624946
dtype: int64

,link_ID,date,length,flow,travel_time,speed,q,travel_time_log
0,LM329,2013-01-01 00:00:00,5260.000229,45.0,172.02,110.08,3.0,5.153407
1,LM329,2013-01-01 00:15:00,5260.000229,54.0,177.29,106.81,3.0,5.183411
2,LM329,2013-01-01 00:30:00,5260.000229,112.0,176.77,107.12,3.0,5.180491
3,LM329,2013-01-01 00:45:00,5260.000229,102.0,176.00,107.59,3.0,5.176150
4,LM329,2013-01-01 01:00:00,5260.000229,155.0,176.63,107.21,1.0,5.179703

## 填充NAN
- 方案一： 往前找可用数据点
- 方案二： 前后时间片的均值
- 方案三： 前面四个时间点的均值
- 方案四： 该时间片的历史均值
- 方案五： 特殊值
- 方案六： xboost预测
- 方案七： 融合

使用方案
 - step1：往前找可用数据点，做多三个点
 - step2：前后四个时间点均值

In [52]:
print 'The number of NAN is %d' % (df.count()[0] - df.count()[7])

The number of NAN is 96910

In [43]:
df['travel_time_log_t-1'] = df.shift(-1)['travel_time_log']

In [56]:
for i in range(100):
    df.travel_time_log = df.travel_time_log.fillna(df.shift(-1)['travel_time_log'])
    print 'The number of NAN is %d after shift %d' % ((df.count()[0] - df.count()[7]), i)

The number of NAN is 75706 after shift 0
The number of NAN is 75297 after shift 1
The number of NAN is 74888 after shift 2
The number of NAN is 74479 after shift 3
The number of NAN is 74070 after shift 4
The number of NAN is 73661 after shift 5
The number of NAN is 73252 after shift 6
The number of NAN is 72843 after shift 7
The number of NAN is 72434 after shift 8
The number of NAN is 72025 after shift 9
The number of NAN is 71616 after shift 10
The number of NAN is 71207 after shift 11
The number of NAN is 70798 after shift 12
The number of NAN is 70389 after shift 13
The number of NAN is 69980 after shift 14
The number of NAN is 69571 after shift 15
The number of NAN is 69162 after shift 16
The number of NAN is 68753 after shift 17
The number of NAN is 68344 after shift 18
The number of NAN is 67935 after shift 19
The number of NAN is 67526 after shift 20
The number of NAN is 67117 after shift 21
The number of NAN is 66708 after shift 22
The number of NAN is 66299 after shift 23
The number of NAN is 65890 after shift 24
The number of NAN is 65481 after shift 25
The number of NAN is 65072 after shift 26
The number of NAN is 64663 after shift 27
The number of NAN is 64254 after shift 28
The number of NAN is 63845 after shift 29
The number of NAN is 63436 after shift 30
The number of NAN is 63027 after shift 31
The number of NAN is 62618 after shift 32
The number of NAN is 62209 after shift 33
The number of NAN is 61800 after shift 34
The number of NAN is 61391 after shift 35
The number of NAN is 60982 after shift 36
The number of NAN is 60573 after shift 37
The number of NAN is 60164 after shift 38
The number of NAN is 59755 after shift 39
The number of NAN is 59346 after shift 40
The number of NAN is 58937 after shift 41
The number of NAN is 58529 after shift 42
The number of NAN is 58121 after shift 43
The number of NAN is 57713 after shift 44
The number of NAN is 57305 after shift 45
The number of NAN is 57179 after shift 46
The number of NAN is 57053 after shift 47
The number of NAN is 56928 after shift 48
The number of NAN is 56804 after shift 49
The number of NAN is 56680 after shift 50
The number of NAN is 56556 after shift 51
The number of NAN is 56432 after shift 52
The number of NAN is 56308 after shift 53
The number of NAN is 56184 after shift 54
The number of NAN is 56060 after shift 55
The number of NAN is 55936 after shift 56
The number of NAN is 55812 after shift 57
The number of NAN is 55688 after shift 58
The number of NAN is 55564 after shift 59
The number of NAN is 55440 after shift 60
The number of NAN is 55316 after shift 61
The number of NAN is 55192 after shift 62
The number of NAN is 55068 after shift 63
The number of NAN is 54944 after shift 64
The number of NAN is 54820 after shift 65
The number of NAN is 54696 after shift 66
The number of NAN is 54572 after shift 67
The number of NAN is 54448 after shift 68
The number of NAN is 54324 after shift 69
The number of NAN is 54200 after shift 70
The number of NAN is 54076 after shift 71
The number of NAN is 53952 after shift 72
The number of NAN is 53828 after shift 73
The number of NAN is 53704 after shift 74
The number of NAN is 53580 after shift 75
The number of NAN is 53456 after shift 76
The number of NAN is 53332 after shift 77
The number of NAN is 53208 after shift 78
The number of NAN is 53084 after shift 79
The number of NAN is 52960 after shift 80
The number of NAN is 52836 after shift 81
The number of NAN is 52712 after shift 82
The number of NAN is 52588 after shift 83
The number of NAN is 52464 after shift 84
The number of NAN is 52340 after shift 85
The number of NAN is 52216 after shift 86
The number of NAN is 52092 after shift 87
The number of NAN is 51968 after shift 88
The number of NAN is 51844 after shift 89
The number of NAN is 51720 after shift 90
The number of NAN is 51596 after shift 91
The number of NAN is 51472 after shift 92
The number of NAN is 51348 after shift 93
The number of NAN is 51224 after shift 94
The number of NAN is 51100 after shift 95
The number of NAN is 50976 after shift 96
The number of NAN is 50852 after shift 97
The number of NAN is 50728 after shift 98
The number of NAN is 50604 after shift 99

In [46]:
df

,link_ID,date,length,flow,travel_time,speed,q,travel_time_log,travel_time_log_t-1
0,LM329,2013-01-01 00:00:00,5260.000229,45.0,172.02,110.08,3.0,5.153407,5.183411
1,LM329,2013-01-01 00:15:00,5260.000229,54.0,177.29,106.81,3.0,5.183411,5.180491
2,LM329,2013-01-01 00:30:00,5260.000229,112.0,176.77,107.12,3.0,5.180491,5.176150
3,LM329,2013-01-01 00:45:00,5260.000229,102.0,176.00,107.59,3.0,5.176150,5.179703
4,LM329,2013-01-01 01:00:00,5260.000229,155.0,176.63,107.21,1.0,5.179703,5.205709
5,LM329,2013-01-01 01:15:00,5260.000229,154.0,181.31,104.44,1.0,5.205709,5.180997
6,LM329,2013-01-01 01:30:00,5260.000229,175.0,176.86,107.07,1.0,5.180997,5.182457
7,LM329,2013-01-01 01:45:00,5260.000229,144.0,177.12,106.91,1.0,5.182457,5.208010
8,LM329,2013-01-01 02:00:00,5260.000229,151.0,181.73,104.20,1.0,5.208010,5.183860
9,LM329,2013-01-01 02:15:00,5260.000229,111.0,177.37,106.76,3.0,5.183860,5.162956
10,LM329,2013-01-01 02:30:00,5260.000229,102.0,173.68,109.03,3.0,5.162956,5.167297
11,LM329,2013-01-01 02:45:00,5260.000229,101.0,174.44,108.55,3.0,5.167297,5.174397
12,LM329,2013-01-01 03:00:00,5260.000229,90.0,175.69,107.78,3.0,5.174397,5.194899
13,LM329,2013-01-01 03:15:00,5260.000229,84.0,179.35,105.58,3.0,5.194899,5.199160
14,LM329,2013-01-01 03:30:00,5260.000229,80.0,180.12,105.13,3.0,5.199160,5.180491
15,LM329,2013-01-01 03:45:00,5260.000229,65.0,176.77,107.12,3.0,5.180491,5.250125
16,LM329,2013-01-01 04:00:00,5260.000229,75.0,189.59,99.88,3.0,5.250125,5.220680
17,LM329,2013-01-01 04:15:00,5260.000229,81.0,184.06,102.88,3.0,5.220680,5.232551
18,LM329,2013-01-01 04:30:00,5260.000229,49.0,186.27,101.66,3.0,5.232551,5.200980
19,LM329,2013-01-01 04:45:00,5260.000229,67.0,180.45,104.94,3.0,5.200980,5.204666
20,LM329,2013-01-01 05:00:00,5260.000229,58.0,181.12,104.55,3.0,5.204666,5.206969
21,LM329,2013-01-01 05:15:00,5260.000229,68.0,181.54,104.31,3.0,5.206969,5.224456
22,LM329,2013-01-01 05:30:00,5260.000229,49.0,184.76,102.49,3.0,5.224456,5.190788
23,LM329,2013-01-01 05:45:00,5260.000229,67.0,178.61,106.02,3.0,5.190788,5.185149
24,LM329,2013-01-01 06:00:00,5260.000229,68.0,177.60,106.62,3.0,5.185149,5.178182
25,LM329,2013-01-01 06:15:00,5260.000229,91.0,176.36,107.37,3.0,5.178182,5.161294
26,LM329,2013-01-01 06:30:00,5260.000229,88.0,173.39,109.21,3.0,5.161294,5.194844
27,LM329,2013-01-01 06:45:00,5260.000229,100.0,179.34,105.59,3.0,5.194844,5.177335
28,LM329,2013-01-01 07:00:00,5260.000229,104.0,176.21,107.46,3.0,5.177335,5.160548
29,LM329,2013-01-01 07:15:00,5260.000229,143.0,173.26,109.29,1.0,5.160548,5.164957
...,...,...,...,...,...,...,...,...,...
1721826,LM323,2013-10-31 16:30:00,4710.000038,1602.0,170.43,99.49,1.0,5.144175,5.164443
1721827,LM323,2013-10-31 16:45:00,4710.000038,1568.0,173.94,97.48,1.0,5.164443,5.272794
1721828,LM323,2013-10-31 17:00:00,4710.000038,1574.0,193.96,87.42,1.0,5.272794,5.615534
1721829,LM323,2013-10-31 17:15:00,4710.000038,1270.0,273.66,61.96,1.0,5.615534,5.943272
1721830,LM323,2013-10-31 17:30:00,4710.000038,1293.0,380.18,44.60,1.0,5.943272,5.753873
1721831,LM323,2013-10-31 17:45:00,4710.000038,1474.0,314.41,53.93,1.0,5.753873,5.448804
1721832,LM323,2013-10-31 18:00:00,4710.000038,1243.0,231.48,73.25,1.0,5.448804,5.098097
1721833,LM323,2013-10-31 18:15:00,4710.000038,800.0,162.71,104.21,1.0,5.098097,5.083204
1721834,LM323,2013-10-31 18:30:00,4710.000038,1056.0,160.29,105.78,1.0,5.083204,5.082770
1721835,LM323,2013-10-31 18:45:00,4710.000038,1045.0,160.22,105.83,1.0,5.082770,5.091539
1721836,LM323,2013-10-31 19:00:00,4710.000038,1019.0,161.64,104.90,1.0,5.091539,5.093934
1721837,LM323,2013-10-31 19:15:00,4710.000038,1089.0,162.03,104.65,1.0,5.093934,5.182177
1721838,LM323,2013-10-31 19:30:00,4710.000038,1373.0,177.07,95.76,1.0,5.182177,5.200815
1721839,LM323,2013-10-31 19:45:00,4710.000038,1538.0,180.42,93.98,1.0,5.200815,5.052161
1721840,LM323,2013-10-31 20:00:00,4710.000038,952.0,155.36,109.14,1.0,5.052161,5.117275
1721841,LM323,2013-10-31 20:15:00,4710.000038,1192.0,165.88,102.22,1.0,5.117275,5.091170
1721842,LM323,2013-10-31 20:30:00,4710.000038,1012.0,161.58,104.94,1.0,5.091170,5.047546
1721843,LM323,2013-10-31 20:45:00,4710.000038,702.0,154.64,109.65,1.0,5.047546,5.029457
1721844,LM323,2013-10-31 21:00:00,4710.000038,612.0,151.85,111.66,1.0,5.029457,5.054652
1721845,LM323,2013-10-31 21:15:00,4710.000038,572.0,155.75,108.87,1.0,5.054652,5.074611
1721846,LM323,2013-10-31 21:30:00,4710.000038,532.0,158.91,106.70,1.0,5.074611,5.069910
1721847,LM323,2013-10-31 21:45:00,4710.000038,535.0,158.16,107.21,1.0,5.069910,5.063354
1721848,LM323,2013-10-31 22:00:00,4710.000038,448.0,157.12,107.92,1.0,5.063354,5.083514
1721849,LM323,2013-10-31 22:15:00,4710.000038,432.0,160.34,105.75,1.0,5.083514,5.071166
1721850,LM323,2013-10-31 22:30:00,4710.000038,385.0,158.36,107.07,1.0,5.071166,5.079228
1721851,LM323,2013-10-31 22:45:00,4710.000038,335.0,159.65,106.21,1.0,5.079228,5.059108
1721852,LM323,2013-10-31 23:00:00,4710.000038,361.0,156.45,108.38,1.0,5.059108,5.064176
1721853,LM323,2013-10-31 23:15:00,4710.000038,348.0,157.25,107.83,1.0,5.064176,5.075361
1721854,LM323,2013-10-31 23:30:00,4710.000038,293.0,159.03,106.62,3.0,5.075361,5.079290
1721855,LM323,2013-10-31 23:45:00,4710.000038,218.0,159.66,106.20,3.0,5.079290,NaN

In [47]:
print 'The number of NAN is %d' % (df.count()[0] - df.count()[7])

The number of NAN is 96362

In [50]:
df[df.travel_time_log.isnull() == True]

,link_ID,date,length,flow,travel_time,speed,q,travel_time_log,travel_time_log_t-1
1056,LM329,2013-01-12 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1057,LM329,2013-01-12 00:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1058,LM329,2013-01-12 00:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1059,LM329,2013-01-12 00:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1060,LM329,2013-01-12 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1061,LM329,2013-01-12 01:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1062,LM329,2013-01-12 01:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1063,LM329,2013-01-12 01:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1064,LM329,2013-01-12 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1065,LM329,2013-01-12 02:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1066,LM329,2013-01-12 02:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1067,LM329,2013-01-12 02:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1068,LM329,2013-01-12 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1069,LM329,2013-01-12 03:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1070,LM329,2013-01-12 03:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1071,LM329,2013-01-12 03:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1072,LM329,2013-01-12 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1073,LM329,2013-01-12 04:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1074,LM329,2013-01-12 04:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1075,LM329,2013-01-12 04:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1076,LM329,2013-01-12 05:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1077,LM329,2013-01-12 05:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1078,LM329,2013-01-12 05:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1079,LM329,2013-01-12 05:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1080,LM329,2013-01-12 06:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1081,LM329,2013-01-12 06:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1082,LM329,2013-01-12 06:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1083,LM329,2013-01-12 06:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1084,LM329,2013-01-12 07:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1085,LM329,2013-01-12 07:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
1717605,LM323,2013-09-17 17:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1717606,LM323,2013-09-17 17:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1717607,LM323,2013-09-17 17:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1717608,LM323,2013-09-17 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1717609,LM323,2013-09-17 18:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1717610,LM323,2013-09-17 18:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1717611,LM323,2013-09-17 18:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1717612,LM323,2013-09-17 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1717613,LM323,2013-09-17 19:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1717614,LM323,2013-09-17 19:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1717615,LM323,2013-09-17 19:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1717616,LM323,2013-09-17 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1717617,LM323,2013-09-17 20:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1717618,LM323,2013-09-17 20:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1717619,LM323,2013-09-17 20:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1717620,LM323,2013-09-17 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1717621,LM323,2013-09-17 21:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1717622,LM323,2013-09-17 21:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1717623,LM323,2013-09-17 21:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1717624,LM323,2013-09-17 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1717625,LM323,2013-09-17 22:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1717626,LM323,2013-09-17 22:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1717627,LM323,2013-09-17 22:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1717628,LM323,2013-09-17 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1717629,LM323,2013-09-17 23:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1717630,LM323,2013-09-17 23:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1717631,LM323,2013-09-17 23:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1717632,LM323,2013-09-18 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1717633,LM323,2013-09-18 00:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1717634,LM323,2013-09-18 00:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN